<h1>Getting Data from Country API</h1>
<!-- <ul>
  <li *ngFor="let p of posts">
    {{ p.title }} -- {{ p.id }} 
  </li>
</ul> -->

<ul>
  <li *ngFor="let country of countries">
    {{ country.intCountryID}}--{{ country.strCountryName}}
  </li>
</ul>
